*#
*.bak
*.pc
*.la
*.lo
*.o
*.rpm
*.spec
*.swp
*.tar.gz
*~
.#*
.deps
.libs
Makefile
Makefile.in
Doxyfile
m4
aclocal.m4
autom4te.cache
build
compile
config.*
configure
configwrap
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
test*
tmp
