*#
*.bak
*.la
*.lo
*.o
*.pc
*.rpm
*.so
*.spec
*.swp
*.tar.gz
*~
.#*
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.*
configure
configwrap
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
test*
tmp
